# SPDX-FileCopyrightText: Samsung Electronics Co., Ltd
#
# SPDX-License-Identifier: BSD-3-Clause
CompileFlags:
  Add: [
		'-DXNVME_DEBUG_ENABLED',
		'-DXNVME_BE_CBI_ADMIN_SHIM_ENABLED',
		'-DXNVME_BE_CBI_ASYNC_EMU_ENABLED',
		'-DXNVME_BE_CBI_ASYNC_NIL_ENABLED',
		'-DXNVME_BE_CBI_ASYNC_POSIX_ENABLED',
		'-DXNVME_BE_CBI_ASYNC_THRPOOL_ENABLED',
		'-DXNVME_BE_CBI_MEM_POSIX_ENABLED',
		'-DXNVME_BE_CBI_SYNC_PSYNC_ENABLED',
		'-DXNVME_BE_RAMDISK_ENABLED',
		'-DXNVME_BE_WINDOWS_ENABLED',
		'-DXNVME_BE_WINDOWS_FS_ENABLED',
		'-DXNVME_BE_WINDOWS_ASYNC_ENABLED',
		'-DXNVME_BE_LINUX_ENABLED',
		'-DXNVME_BE_LINUX_BLOCK_ENABLED',
		'-DXNVME_BE_LINUX_BLOCK_ZONED_ENABLED',
		'-DXNVME_BE_LINUX_LIBAIO_ENABLED',
		'-DXNVME_BE_LINUX_LIBURING_ENABLED',
		'-DXNVME_BE_LINUX_VFIO_ENABLED',
		'-DXNVME_BE_MACOS_ENABLED',
		'-DXNVME_BE_FBSD_ENABLED',
		'-DXNVME_BE_SPDK_ENABLED',
		'-DXNVME_BE_SPDK_TRANSPORT_PCIE_ENABLED',
		'-DXNVME_BE_SPDK_TRANSPORT_TCP_ENABLED',
		'-DXNVME_BE_SPDK_TRANSPORT_RDMA_ENABLED',
		'-DXNVME_BE_SPDK_TRANSPORT_FC_ENABLED',
		'-DXNVME_BE_ASYNC_ENABLED',
  ]
